Home Page Smileyface 


<div class="text-center">
    @using(Html.BeginForm("GetBlogPostDataFromView", "Home"))
    {
        <p>New User Registration</p>
        <input type="text" name="username" placeholder="enter Username" /><br />
        <input type="text" name="password" placeholder="enter Password"/><br />
        <input type="submit" onclick="alert('login info submitted');"/>
    }
    <br />
    <br />
    @using (Html.BeginForm("Login","Home"))
    {
        <p>Existing Users may login here</p>
        <input type="text" name="username" placeholder="enter Username" /><br />
        <input type="text" name="password" placeholder="enter Password"/><br />
        <input type="submit" onclick="alert('login info submitted');"/>
    }
</div>
 